.NavBar {
    background-color: rgb(100, 117, 100);
    border: 1px solid black;
    font-size: large;
    font-weight: 600;
  }

  .NavbarBrand {
    width: 80px;
   
  }

  .NavLink {
    padding: 5px;
    color: #131313;
  }

  i {
    color: #131313;
  }
  
  .NavLink:hover {
    cursor: pointer;
    transition: color ease-in-out 0.3s;
    color: #ff9254;
  }

  .Active i {  
    color: #ff9254;
  }

  .SpanA {   
    font-size: .8em;
    position: relative;
    bottom: 30px;
    left: 10px;
    
  }

  .SpanB {    
    font-size: .8em;
    position: relative;
    right: 49px;
    
  }

  .SpanC {    
    font-size: .8em;
    position: relative;
    top: 30px;
    right: 113px;
    
  }