.NavBar {
    background-color: rgb(100, 117, 100);
    border: 1px solid black;
    font-size: large;
    font-weight: 600;
  }

  .NavLink {
    padding: 5px;
    color: #131313;
  }

  i {
    color: #131313;
  }
  
  .Active i {
    /* color: #6c95ec; */
    color: #ff9254;
  }

 h4 {
    font-weight: 600;
  }

