.NavBar {
    background-color: rgb(100, 117, 100);
    border: 2px solid black;
    font-size: large;
    font-weight: 600;
  }

  .NavLink {
    padding: 5px;
  }
  
  .Active i {
    color: #6c95ec;
  }

  h4 {
    font-weight: 600;
  }